body {
  width: 100%;
  background-color: orange;
margin: 0;
}
.time {
  font-family: 'Stalinist One', cursive;
}

.intro {
  text-align: center;
  background-color: red;
}

img{

  border: 10px dashed black;
  
}
  table {
    margin:auto;
    border-collapse:collapse;
  }
  
  table, tr, td, th {
    border: 6px dashed black;
  }

td, th, tr{
  padding: 10px;
  text-align: center;
} 

tr:hover {
  background-color: yellow;
  color: blue;
}
.spaceship{
  background-image: url("rocket.jpg");
  background-size: contain;
  height: 100px;
  color: black;
}